[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[7c497bed-4faf-4c15-ad3d-25cc89e30ce0]
row=0
col=0

[081a6b64-4f9e-42b2-94e2-513acd7e8c34]
row=4
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/midfingr]
row=3
col=0

